# cdn:
cdn: 

# host
host: 'http://192.168.31.59:3000'

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
# rake secret
secret_key_base: ''

# encryption
# encryption_salt = Base64.encode64(
#   SecureRandom.random_bytes(
#     ActiveSupport::MessageEncryptor.key_len
#   )
# )
encryption_salt: 

# database
postgres:
  database: mixcoin_plus_development
  host: localhost
  username: postgres
  password: postgres

# redis
redis:
  namespace: mixcoin_plus

# sidekiq
sidekiq:
  namespace: mixcoin_plus_sidekiq

# Mixin Bot config
mixin:
  client_id:
  client_secret: 
  session_id: 
  pin_code: 
  pin_token:
  private_key:
